{{ define "main" }}
  <main role="main" class="col-md-8">
    <div id="sitedesc_image"></div>

    <div class="blog-main p-3 mb-3 stripe--{{ .Page.Date.Format "01" }}
                bg-white rounded border border-dark shadow-hover">
      <div class="blog-post" 
           itemscope itemtype="http://schema.org/BlogPosting">
        {{ partial "post/header.html" . }}

        <article class="main-content" itemprop="articleBody">
          {{- with .Page.Params.toc -}}
          {{ partial (print . ".html") . }}
          <br/>
          {{- end -}}

          {{ partial "service/google-adsense.html" . }}
          <br/>
          {{ .Content }}
          <br/>
          {{ partial "service/google-adsense.html" . }}
        </article>

        <br/>
        {{ partial "post/navigation.html" . }}
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

    {{ partial "post/footer.html" . }}
    {{/* partial "service/disqus-comments.html" . */}}
  </main>
{{ end }}

{{ define "aside" }}
  <aside class="col-md-4">   
    {{ partial "widget/friends.html" . }}
    {{ partial "widget/related-posts.html" . }}

    {{ partial "widget/categories.html" . }}
    {{ partial "widget/archives.html" . }}

    {{ partial "widget/tags.html" (dict "taxonomies" .Site.Taxonomies "view_tag_type" "before") }}
    {{ partial "widget/recent-posts.html" . }}
    {{ partial "widget/archives-github.html" . }}

    {{ partial "widget/oto-spies.html" . }}
  </aside>
{{ end }}

{{ define "yaosb" }}
<!-- no yaosb site image -->
{{ end }}
