body {
  background-color: #fff;
  color: #3e4042;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.3;
  margin: 0;
  text-align: left;
}

.MID {
  background-color: #fff;
  color: #3e4042;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.3;
  margin: 0;
  text-align: center;
}
.ICON_MAIN {
	width: 60px;
     height: 60px;
     vertical-align: middle;
	
	}
.ICON {
	width: 23px;
     height: 23px;
     vertical-align: middle;
	
	}

@font-face {
        font-family: font-default;
        src: url(/pages/font/font-default.ttf);
        
}
@font-face {
	font-family: font-sp;
	src: url(/pages/font/sp.ttf);
	}
@font-face {
	font-family: product;
	src: url(/pages/font/product.ttf);
	}
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.text-special {
    font-family: 'font-sp';
	background-color: #fff;
	color: #FF00FF;
	line-height: 1.3;
	margin: 0;
	text-align: center;
    font-size: 20px;
	}
	
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.font-product {
	font-family: 'product';
	
	
	}
p {
    font-family: 'font-default';
}

@font-face {
	font-family: notes;
	src: url(/pages/font/notes.ttf);
	}
.IMAGE_CENTER {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_mid {
  background-color: #fff;
  color: #3e4042;
  line-height: 1.3;
  margin: 0;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}
a {
  color: #007d9c;
  text-decoration: none;
}
.notes {
	font-family: 'notes';
	color: #008000;
	}

.search-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 20px;
            padding-left: 3px;
        }

        .search-input {
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            margin-right: 5px;
            width: 130px;
        }

        .search-button {
            padding: 7px 15px;
            border: none;
            border-radius: 3px;
            background-color: #7175FF;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .search-button:hover {
            background-color: #7175FF;
        }
@media screen and (min-width: 600px) {
  
	.search-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 100px;
            
        }
      .search-input {
            padding: 10px;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            margin-right: 5px;
            width: 250px;
        }

        .search-button {
            padding: 7px 15px;
            border: none;
            border-radius: 3px;
            background-color: #7175FF;
            
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .search-button:hover {
            background-color: #45a049;
        }
        
}        
    