<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>

        {{ partial "navbar.html" . }}

        <p>hello world</p>
        {{ partial "js.html" . }}
    </body>
</html>
